//
//  Baseline.xcconfig
//  UniversalTemplate
//
//  Created by Yujin Kim on 4/25/25.
//

SWIFT_VERSION = 6.0
CLANG_ENABLE_MODULES = YES
DEFINES_MODULE = YES
ENABLE_BITCODE = NO
CLANG_WARN_STRICT_PROTOTYPES = NO
CODE_SIGN_STYLE = Automatic
DEVELOPMENT_TEAM = $(DEVELOPMENT_TEAM_ID)
APP_DISPLAY_NAME = UniversalTemplate
